name: React Base
on: ["workflow_dispatch", "push"]

jobs:
   build_app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm ci
      - name: Build application
        run: npm run build
      - name: Verify build completion
        run: test -f dist/index.html
   unit_tests:
     runs-on: ubuntu-latest
     steps:
      - name: Checkout sources
        uses: actions/checkout@v6
      - name: Install dependencies
        run: npm ci
      - name: Run unit tests
        run: npm test